body {
    background-color: #a9f2fa;
}
img {
    height: 200px;
}
h1 {
    color: #c76e08;
    font-size: 18px;
}
p {
    color: #666666; /* Replace #666666 with your desired text color hex code */
}
body {
    font-family: Arial, sans-serif;
}
h2 {
    font-size: 14px;
}
p {
    line-height: 1.6;
}
.container {
    padding: 20px;
}
.section {
    margin: 20px;
}
.box {
    border: 1px solid #280042;
}

td {
    border: 3px solid black;
}
th {
    border: 3px solid black;
}
table {
  border-collapse: collapse;
}
td, th {
  padding-left: 10px;
  padding-right: 10px;
}
th:hover {
    color: orange;
}